# Business Process Automation

The sales reports from regional offices can be combined into one file by using Python. In this part, I will describe how to combine files made in different formats as well as analyse sales data in Python. I have assumed that GoodSale has 4 regional offices in the UK (London, South East, North West, West Midlands), and they are dealing with heavy machine items which are steel, rod, bit, casing, shank, coupling and other products. I have received sales data from the 1st to the 5th of December from all regional offices. Each office sent over their sales data–some sent Excel or csv files and other sent plain text via email.

The first step I will outlines is opening the 5 days of sales data from each regional office. After that, these data will be formatted and combined into one DataFrame. Lastly, I will analyse sales data and use the visualization function in Python. Once I am done with visualization, this report will be sent to the sales manager via email.

In [1]:
import pandas as pd
import numpy as np
import time
import plotly.express as px

# I have brought this functionality or library to my python script.

# 1. Open sales data


## (1) open .xlsx file

**London office** sent out daily sales report every morning from 1st December to 5th December via excel file. I brought out these sheets from excel file and combined them into one DataFrame as follows.

In [2]:
london_sales_dec1 = pd.read_excel("London.xlsx", 'Dec 1', header=0, index_col=0)
london_sales_dec2 = pd.read_excel("London.xlsx", 'Dec 2', header=0, index_col=0)
london_sales_dec3 = pd.read_excel("London.xlsx", 'Dec 3', header=0, index_col=0)
london_sales_dec4 = pd.read_excel("London.xlsx", 'Dec 4', header=0, index_col=0)
london_sales_dec5 = pd.read_excel("London.xlsx", 'Dec 5', header=0, index_col=0)

# I have opened the file named "London.xlsx" excel file and as well as each sheet

In [3]:
pd.read_excel("London.xlsx", 'Dec 1', header=0, index_col=0)

# Each sheet has been opened by using "pd.read_excel" as shown above.
# In order to make index from date, set the index_col as 0.

           Location        Products  Q'ty  Total sales amount Cur.
Date
2022-12-01   London           Steel    43                4300  GBP
2022-12-01   London             Rod   533              159900  GBP
2022-12-01   London             Bit    17                4250  GBP
2022-12-01   London          Casing    30                1500  GBP
2022-12-01   London           Shank    42                1890  GBP
2022-12-01   London        Coupling   120                2880  GBP
2022-12-01   London  Other products   232                2320  GBP
NaT             NaN           Total  1017              177040  NaN

In [4]:
london_sales_dec1

# I saved sales data on 1st December from London branch as London_Sales_Dec1.

           Location        Products  Q'ty  Total sales amount Cur.
Date
2022-12-01   London           Steel    43                4300  GBP
2022-12-01   London             Rod   533              159900  GBP
2022-12-01   London             Bit    17                4250  GBP
2022-12-01   London          Casing    30                1500  GBP
2022-12-01   London           Shank    42                1890  GBP
2022-12-01   London        Coupling   120                2880  GBP
2022-12-01   London  Other products   232                2320  GBP
NaT             NaN           Total  1017              177040  NaN

In [5]:
london_sales_dec2.head()

# Only five rows can be shown when using head(). By using this function, we can check if the format is correct.

           Location Products  Q'ty  Total sales amount Cur.
Date
2022-12-02   London    Steel    45                4500  GBP
2022-12-02   London      Rod   650              195000  GBP
2022-12-02   London      Bit    20                5000  GBP
2022-12-02   London   Casing    25                1250  GBP
2022-12-02   London    Shank    35                1575  GBP

In [6]:
london_sales = pd.concat([london_sales_dec1, 
                          london_sales_dec2, 
                          london_sales_dec3, 
                          london_sales_dec4, 
                          london_sales_dec5], axis=0)
london_sales = london_sales.dropna() # removing NAN values in DataFrame
london_sales.tail()

           Location        Products  Q'ty  Total sales amount Cur.
Date
2022-12-05   London             Bit    39                9750  GBP
2022-12-05   London          Casing    28                1400  GBP
2022-12-05   London           Shank    35                1575  GBP
2022-12-05   London        Coupling    28                 672  GBP
2022-12-05   London  Other products   310                3100  GBP

I have combined 5 days sales data from London office into one DataFrame.

The rest of sales data from 3 local offices(South East, North West, West Midlands) can be combined into same DataFrame by using Python code. I assume that 2 offices(South East, North West) of them sent out sales data via excel file and West Midlands office sent out via Outlook.

I have received excel files (xlsx.) from South East and csv files (csv.) from North West. I will combine these two different format files into same DataFrame.

In [7]:
south_east_sales_dec1 = pd.read_excel("South East.xlsx", 'Dec 1', header=0, index_col=0)
south_east_sales_dec2 = pd.read_excel("South East.xlsx", 'Dec 2', header=0, index_col=0)
south_east_sales_dec3 = pd.read_excel("South East.xlsx", 'Dec 3', header=0, index_col=0)
south_east_sales_dec4 = pd.read_excel("South East.xlsx", 'Dec 4', header=0, index_col=0)
south_east_sales_dec5 = pd.read_excel("South East.xlsx", 'Dec 5', header=0, index_col=0)

In [8]:
south_east_sales = pd.concat([south_east_sales_dec1, 
                              south_east_sales_dec2, 
                              south_east_sales_dec3, 
                              south_east_sales_dec4, 
                              south_east_sales_dec5], axis=0)
south_east_sales = south_east_sales.dropna() # removing NAN values in DataFrame
south_east_sales.tail()

              Location        Products  Q'ty  Total sales amount Cur.
Date
2022-12-05  South East             Bit    10                2500  GBP
2022-12-05  South East          Casing    16                 800  GBP
2022-12-05  South East           Shank    20                 900  GBP
2022-12-05  South East        Coupling    32                 768  GBP
2022-12-05  South East  Other products    98                 980  GBP

## (2) open .csv file

In [9]:
import csv
 
f = open('North West.csv','r')
rdr = csv.reader(f)
 
for line in rdr:
    print(line)
 
f.close()

['Date', 'Location', 'Products', "Q'ty", 'Total sales amount', 'Cur.']
['2022-12-01', 'North West', 'Steel', '35', '3500', 'GBP']
['2022-12-01', 'North West', 'Rod', '400', '120000', 'GBP']
['2022-12-01', 'North West', 'Bit', '15', '3750', 'GBP']
['2022-12-01', 'North West', 'Casing', '45', '2250', 'GBP']
['2022-12-01', 'North West', 'Shank', '130', '5850', 'GBP']
['2022-12-01', 'North West', 'Coupling', '20', '480', 'GBP']
['2022-12-01', 'North West', 'Other products', '201', '2010', 'GBP']
['2022-12-02', 'North West', 'Steel', '36', '3600', 'GBP']
['2022-12-02', 'North West', 'Rod', '450', '135000', 'GBP']
['2022-12-02', 'North West', 'Bit', '36', '9000', 'GBP']
['2022-12-02', 'North West', 'Casing', '55', '2750', 'GBP']
['2022-12-02', 'North West', 'Shank', '160', '7200', 'GBP']
['2022-12-02', 'North West', 'Coupling', '15', '360', 'GBP']
['2022-12-02', 'North West', 'Other products', '140', '1400', 'GBP']
['2022-12-03', 'North West', 'Steel', '45', '4500', 'GBP']
['2022-12-03', 'North West', 'Rod', '560', '168000', 'GBP']
['2022-12-03', 'North West', 'Bit', '34', '8500', 'GBP']
['2022-12-03', 'North West', 'Casing', '55', '2750', 'GBP']
['2022-12-03', 'North West', 'Shank', '155', '6975', 'GBP']
['2022-12-03', 'North West', 'Coupling', '10', '240', 'GBP']
['2022-12-03', 'North West', 'Other products', '170', '1700', 'GBP']
['2022-12-04', 'North West', 'Steel', '39', '3900', 'GBP']
['2022-12-04', 'North West', 'Rod', '398', '119400', 'GBP']
['2022-12-04', 'North West', 'Bit', '36', '9000', 'GBP']
['2022-12-04', 'North West', 'Casing', '60', '3000', 'GBP']
['2022-12-04', 'North West', 'Shank', '157', '7065', 'GBP']
['2022-12-04', 'North West', 'Coupling', '12', '288', 'GBP']
['2022-12-04', 'North West', 'Other products', '170', '1700', 'GBP']
['2022-12-05', 'North West', 'Steel', '27', '2700', 'GBP']
['2022-12-05', 'North West', 'Rod', '369', '110700', 'GBP']
['2022-12-05', 'North West', 'Bit', '65', '16250', 'GBP']
['2022-12-05', 'North West', 'Casing', '54', '2700', 'GBP']
['2022-12-05', 'North West', 'Shank', '145', '6525', 'GBP']
['2022-12-05', 'North West', 'Coupling', '50', '1200', 'GBP']
['2022-12-05', 'North West', 'Other products', '150', '1500', 'GBP']

In [10]:
north_west_sales = pd.read_csv("North West.csv", sep=",", index_col=0)

In [11]:
north_west_sales.head()

              Location Products  Q'ty  Total sales amount Cur.
Date
2022-12-01  North West    Steel    35                3500  GBP
2022-12-01  North West      Rod   400              120000  GBP
2022-12-01  North West      Bit    15                3750  GBP
2022-12-01  North West   Casing    45                2250  GBP
2022-12-01  North West    Shank   130                5850  GBP

## (3) open .txt file

I assumed that the contents sent through Outlook from the West Midlands office are stored separately as a txt file. Therefore, I wrote a code to save the contents of the txt file in the form of DataFrame

In [12]:
f = open("Sales Data - Dec 1.txt", "r")
print(f.read())

Dear team,

Please see the sales data for 1st December as below.

Date         Location   Products  Q'ty          Total sales amount  Cur.
01/12/2022              West Midlands         Steel         25             2500         GBP
01/12/2022              West Midlands         Rod           350           105000    GBP
01/12/2022              West Midlands         Bit             10             2500         GBP
01/12/2022              West Midlands         Casing      40             2000         GBP
01/12/2022              West Midlands         Shank       210           9450         GBP
01/12/2022              West Midlands         Coupling  20             480           GBP
01/12/2022              West Midlands         Other products        219           2190         GBP
02/12/2022              West Midlands         Steel         36             3600         GBP
02/12/2022              West Midlands         Rod           330           99000      GBP
02/12/2022              West Midlands         Bit             20             5000         GBP
02/12/2022              West Midlands         Casing      50             2500         GBP
02/12/2022              West Midlands         Shank       45             2025         GBP
02/12/2022              West Midlands         Coupling  10             240           GBP
02/12/2022              West Midlands         Other products        213           2130         GBP
03/12/2022              West Midlands         Steel         36             3600         GBP
03/12/2022              West Midlands         Rod           62             18600      GBP
03/12/2022              West Midlands         Bit             63             15750      GBP
03/12/2022              West Midlands         Casing      58             2900         GBP
03/12/2022              West Midlands         Shank       133           5985         GBP
03/12/2022              West Midlands         Coupling  8                192           GBP
03/12/2022              West Midlands         Other products        12             120           GBP
04/12/2022              West Midlands         Steel         63             6300         GBP
04/12/2022              West Midlands         Rod           244           73200      GBP
04/12/2022              West Midlands         Bit             52             13000      GBP
04/12/2022              West Midlands         Casing      63             3150         GBP
04/12/2022              West Midlands         Shank       147           6615         GBP
04/12/2022              West Midlands         Coupling  56             1344         GBP
04/12/2022              West Midlands         Other products        140           1400         GBP
05/12/2022              West Midlands         Steel         25             2500         GBP
05/12/2022              West Midlands         Rod           366           109800    GBP
05/12/2022              West Midlands         Bit             24             6000         GBP
05/12/2022              West Midlands         Casing      45             2250         GBP
05/12/2022              West Midlands         Shank       136           6120         GBP
05/12/2022              West Midlands         Coupling  45             1080         GBP
05/12/2022              West Midlands         Other products        145           1450         GBP


Thank you.


Best Regards,
Haewon Sim

In [13]:
WM_data = pd.read_csv("Sales Data - Dec 1.txt", header=4, delimiter=r"\s+")
WM_data.head(10)

# The column has been divided by space. (delimiter)

,Date,Location,Products,Q'ty,Total,sales,amount,Cur.
0,01/12/2022,West,Midlands,Steel,25,2500,GBP,NaN
1,01/12/2022,West,Midlands,Rod,350,105000,GBP,NaN
2,01/12/2022,West,Midlands,Bit,10,2500,GBP,NaN
3,01/12/2022,West,Midlands,Casing,40,2000,GBP,NaN
4,01/12/2022,West,Midlands,Shank,210,9450,GBP,NaN
5,01/12/2022,West,Midlands,Coupling,20,480,GBP,NaN
6,01/12/2022,West,Midlands,Other,products,219,2190,GBP
7,02/12/2022,West,Midlands,Steel,36,3600,GBP,NaN
8,02/12/2022,West,Midlands,Rod,330,99000,GBP,NaN
9,02/12/2022,West,Midlands,Bit,20,5000,GBP,NaN

In [14]:
WM_data.info()
# Since data is classified through space,
# data needed to be cleaned and rearranged.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           42 non-null     object
 1   Location       38 non-null     object
 2   Products       35 non-null     object
 3   Q'ty           35 non-null     object
 4   Total          35 non-null     object
 5   sales          35 non-null     object
 6   amount         35 non-null     object
 7   Cur.           5 non-null      object
dtypes: object(8)
memory usage: 2.8+ KB

In [15]:
def strip_series(series):
    for i in range(len(series)):
        series[i] = series[i].strip()
        
    return series

# Originally it should have been divided as per cell, 
# but each cell has unnecessary spaces. 
# I now need to add a function to eliminate this space created.

In [16]:
Date = WM_data.iloc[:35, 0]
Date = Date.rename("Date")
Date = strip_series(Date) # unnecessary space should be deleted.

In [17]:
Location = WM_data.iloc[:35, 1:3]
Location = Location.iloc[:, 0] + " " + Location.iloc[:, 1] 
# Data split into West and Midlands are combined and stored in 'Location'

Location = Location.rename("Location") 
# Set a name to define a column name when it is merged into DataFrame

Location = strip_series(Location) 
# deleted unnecessary space

Location.head()

0    West Midlands
1    West Midlands
2    West Midlands
3    West Midlands
4    West Midlands
Name: Location, dtype: object

In [18]:
Products = WM_data.iloc[:35, 3]
Products.head(7) # I can check if the unnecessary data exist.

0      Steel
1      Rod
2    Bit
3        Casing
4        Shank
5          Coupling
6              Other
Name: Q'ty         , dtype: object

In [19]:
for i in range(len(Products)):
    Products[i] = Products[i].strip() # deleted unnecessary data
    if Products[i] == 'Other': # finding 'Other' rows
        Products[i] = 'Other' +" " + 'products' # adding 'products' to 'Other' rows.
        
Products = Products.rename("Products") # renamed
Products.head(7)

0             Steel
1               Rod
2               Bit
3            Casing
4             Shank
5          Coupling
6    Other products
Name: Products, dtype: object

In [20]:
Q_ty = WM_data.iloc[:35, 4] 
Q_ty = strip_series(Q_ty)
Q_ty.head(7) 
# You can see that data is backed up each column in the 6th row.

0          25
1         350
2          10
3          40
4         210
5          20
6    products
Name: Total, dtype: object

In [21]:
Total_sales_amount = WM_data.iloc[:35, 5]
Total_sales_amount.head(7)
# Likewise, in the 6th row, 
# value 219 should go to Q'ty, 
# but it is stored in total_sales.

0     2500
1        105000
2     2500
3     2000
4     9450
5    480
6    219
Name: sales, dtype: object

In [22]:
Cur = WM_data.iloc[:35, 6]
Cur.head(7) # needed to edit 6th row

0             GBP
1             GBP
2             GBP
3             GBP
4             GBP
5             GBP
6    2190
Name: amount , dtype: object

In [23]:
for i in range(len(Q_ty)): 
    # removing unnecessary space
    Q_ty[i] = Q_ty[i].strip() 
    Total_sales_amount[i] = Total_sales_amount[i].strip()
    Cur[i] = Cur[i].strip()
    
    if Q_ty[i] == 'products': # finding the row which has an issue
        Q_ty[i] = Total_sales_amount[i] # bringing each column to previous column
        Total_sales_amount[i] = Cur[i]
        Cur[i] = 'GBP' # editing figure value to GBP

In [24]:
Q_ty = Q_ty.rename("Q"+str("'")+"ty")
Q_ty.head(7)

0     25
1    350
2     10
3     40
4    210
5     20
6    219
Name: Q'ty, dtype: object

In [25]:
Total_sales_amount = Total_sales_amount.rename("Total sales amount")
Total_sales_amount.head(7)

0      2500
1    105000
2      2500
3      2000
4      9450
5       480
6      2190
Name: Total sales amount, dtype: object

In [26]:
Cur = Cur.rename("Cur.")
Cur.head(7)

0    GBP
1    GBP
2    GBP
3    GBP
4    GBP
5    GBP
6    GBP
Name: Cur., dtype: object

In [27]:
west_midlands_sales = pd.concat([Date, Location, Products, Q_ty, Total_sales_amount, Cur], axis=1) #combining data

In [28]:
west_midlands_sales = west_midlands_sales.set_index('Date', drop=True)
west_midlands_sales.index = pd.to_datetime(west_midlands_sales.index, 
                                                format="%d/%m/%Y", utc=True).strftime("%Y-%m-%d") 

# changing 'Date' as index
# changing 'Date' index to datetime[64].ns

In [29]:
west_midlands_sales.head()

                 Location Products Q'ty Total sales amount Cur.
Date
2022-12-01  West Midlands    Steel   25               2500  GBP
2022-12-01  West Midlands      Rod  350             105000  GBP
2022-12-01  West Midlands      Bit   10               2500  GBP
2022-12-01  West Midlands   Casing   40               2000  GBP
2022-12-01  West Midlands    Shank  210               9450  GBP

## 2. Combine DataFrame

I can combine above DataFrame from each file to one DataFrame.

In [30]:
# combining all dataframe
total_sales = pd.concat([london_sales, 
                         south_east_sales, 
                         north_west_sales, 
                         west_midlands_sales], axis=0)

# setting the index
total_sales.index = pd.to_datetime(total_sales.index, format='%Y-%m-%d').strftime('%Y-%m-%d')

/var/folders/yf/90zg2cds6f9806s1hj9s0qs40000gn/T/ipykernel_3900/4115120140.py:8: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  total_sales.index = pd.to_datetime(total_sales.index, format='%Y-%m-%d').strftime('%Y-%m-%d')

In [31]:
total_sales.info()

# Amended Q'ty and total_sales_amount to int type

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 2022-12-01 to 2022-12-05
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            140 non-null    object
 1   Products            140 non-null    object
 2   Q'ty                140 non-null    object
 3   Total sales amount  140 non-null    object
 4   Cur.                140 non-null    object
dtypes: object(5)
memory usage: 6.6+ KB

In [32]:
# changing to figure data
total_sales['''Q'ty'''] = pd.to_numeric(total_sales['''Q'ty''']) 
total_sales['Total sales amount'] = pd.to_numeric(total_sales['Total sales amount'])

In [33]:
total_sales.info()

# Confirmed changes

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 2022-12-01 to 2022-12-05
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location            140 non-null    object
 1   Products            140 non-null    object
 2   Q'ty                140 non-null    int64
 3   Total sales amount  140 non-null    int64
 4   Cur.                140 non-null    object
dtypes: int64(2), object(3)
memory usage: 6.6+ KB

In [34]:
# Total DataFrame
print(total_sales.to_string())

                 Location        Products  Q'ty  Total sales amount Cur.
Date
2022-12-01         London           Steel    43                4300  GBP
2022-12-01         London             Rod   533              159900  GBP
2022-12-01         London             Bit    17                4250  GBP
2022-12-01         London          Casing    30                1500  GBP
2022-12-01         London           Shank    42                1890  GBP
2022-12-01         London        Coupling   120                2880  GBP
2022-12-01         London  Other products   232                2320  GBP
2022-12-02         London           Steel    45                4500  GBP
2022-12-02         London             Rod   650              195000  GBP
2022-12-02         London             Bit    20                5000  GBP
2022-12-02         London          Casing    25                1250  GBP
2022-12-02         London           Shank    35                1575  GBP
2022-12-02         London        Coupling   140                3360  GBP
2022-12-02         London  Other products   295                2950  GBP
2022-12-03         London           Steel    35                3500  GBP
2022-12-03         London             Rod   540              162000  GBP
2022-12-03         London             Bit    15                3750  GBP
2022-12-03         London          Casing    26                1300  GBP
2022-12-03         London           Shank    40                1800  GBP
2022-12-03         London        Coupling   110                2640  GBP
2022-12-03         London  Other products   340                3400  GBP
2022-12-04         London           Steel    40                4000  GBP
2022-12-04         London             Rod   560              168000  GBP
2022-12-04         London             Bit    25                6250  GBP
2022-12-04         London          Casing    25                1250  GBP
2022-12-04         London           Shank    32                1440  GBP
2022-12-04         London        Coupling    22                 528  GBP
2022-12-04         London  Other products   320                3200  GBP
2022-12-05         London           Steel    42                4200  GBP
2022-12-05         London             Rod   554              166200  GBP
2022-12-05         London             Bit    39                9750  GBP
2022-12-05         London          Casing    28                1400  GBP
2022-12-05         London           Shank    35                1575  GBP
2022-12-05         London        Coupling    28                 672  GBP
2022-12-05         London  Other products   310                3100  GBP
2022-12-01     South East           Steel    20                2000  GBP
2022-12-01     South East             Rod   300              159900  GBP
2022-12-01     South East             Bit    15                4250  GBP
2022-12-01     South East          Casing    18                1500  GBP
2022-12-01     South East           Shank    32                1890  GBP
2022-12-01     South East        Coupling    52                2880  GBP
2022-12-01     South East  Other products   123                2320  GBP
2022-12-02     South East           Steel    33                3300  GBP
2022-12-02     South East             Rod   230               69000  GBP
2022-12-02     South East             Bit    10                2500  GBP
2022-12-02     South East          Casing    15                 750  GBP
2022-12-02     South East           Shank    20                 900  GBP
2022-12-02     South East        Coupling    80                1920  GBP
2022-12-02     South East  Other products   295                2950  GBP
2022-12-03     South East           Steel    29                2900  GBP
2022-12-03     South East             Rod   245               73500  GBP
2022-12-03     South East             Bit    25                6250  GBP
2022-12-03     South East          Casing    30                1500  GBP
2022-12-03     South East           Shank    30                1350  GBP
2022-12-03     South East        Coupling   120                2880  GBP
2022-12-03     South East  Other products   340                3400  GBP
2022-12-04     South East           Steel    30                3000  GBP
2022-12-04     South East             Rod   456              136800  GBP
2022-12-04     South East             Bit    23                5750  GBP
2022-12-04     South East          Casing    25                1250  GBP
2022-12-04     South East           Shank    20                 900  GBP
2022-12-04     South East        Coupling    19                 456  GBP
2022-12-04     South East  Other products   145                1450  GBP
2022-12-05     South East           Steel    20                2000  GBP
2022-12-05     South East             Rod   145               43500  GBP
2022-12-05     South East             Bit    10                2500  GBP
2022-12-05     South East          Casing    16                 800  GBP
2022-12-05     South East           Shank    20                 900  GBP
2022-12-05     South East        Coupling    32                 768  GBP
2022-12-05     South East  Other products    98                 980  GBP
2022-12-01     North West           Steel    35                3500  GBP
2022-12-01     North West             Rod   400              120000  GBP
2022-12-01     North West             Bit    15                3750  GBP
2022-12-01     North West          Casing    45                2250  GBP
2022-12-01     North West           Shank   130                5850  GBP
2022-12-01     North West        Coupling    20                 480  GBP
2022-12-01     North West  Other products   201                2010  GBP
2022-12-02     North West           Steel    36                3600  GBP
2022-12-02     North West             Rod   450              135000  GBP
2022-12-02     North West             Bit    36                9000  GBP
2022-12-02     North West          Casing    55                2750  GBP
2022-12-02     North West           Shank   160                7200  GBP
2022-12-02     North West        Coupling    15                 360  GBP
2022-12-02     North West  Other products   140                1400  GBP
2022-12-03     North West           Steel    45                4500  GBP
2022-12-03     North West             Rod   560              168000  GBP
2022-12-03     North West             Bit    34                8500  GBP
2022-12-03     North West          Casing    55                2750  GBP
2022-12-03     North West           Shank   155                6975  GBP
2022-12-03     North West        Coupling    10                 240  GBP
2022-12-03     North West  Other products   170                1700  GBP
2022-12-04     North West           Steel    39                3900  GBP
2022-12-04     North West             Rod   398              119400  GBP
2022-12-04     North West             Bit    36                9000  GBP
2022-12-04     North West          Casing    60                3000  GBP
2022-12-04     North West           Shank   157                7065  GBP
2022-12-04     North West        Coupling    12                 288  GBP
2022-12-04     North West  Other products   170                1700  GBP
2022-12-05     North West           Steel    27                2700  GBP
2022-12-05     North West             Rod   369              110700  GBP
2022-12-05     North West             Bit    65               16250  GBP
2022-12-05     North West          Casing    54                2700  GBP
2022-12-05     North West           Shank   145                6525  GBP
2022-12-05     North West        Coupling    50                1200  GBP
2022-12-05     North West  Other products   150                1500  GBP
2022-12-01  West Midlands           Steel    25                2500  GBP
2022-12-01  West Midlands             Rod   350              105000  GBP
2022-12-01  West Midlands             Bit    10                2500  GBP
2022-12-01  West Midlands          Casing    40                2000  GBP
2022-12-01  West Midlands           Shank   210                9450  GBP
2022-12-01  West Midlands        Coupling    20                 480  GBP
2022-12-01  West Midlands  Other products   219                2190  GBP
2022-12-02  West Midlands           Steel    36                3600  GBP
2022-12-02  West Midlands             Rod   330               99000  GBP
2022-12-02  West Midlands             Bit    20                5000  GBP
2022-12-02  West Midlands          Casing    50                2500  GBP
2022-12-02  West Midlands           Shank    45                2025  GBP
2022-12-02  West Midlands        Coupling    10                 240  GBP
2022-12-02  West Midlands  Other products   213                2130  GBP
2022-12-03  West Midlands           Steel    36                3600  GBP
2022-12-03  West Midlands             Rod    62               18600  GBP
2022-12-03  West Midlands             Bit    63               15750  GBP
2022-12-03  West Midlands          Casing    58                2900  GBP
2022-12-03  West Midlands           Shank   133                5985  GBP
2022-12-03  West Midlands        Coupling     8                 192  GBP
2022-12-03  West Midlands  Other products    12                 120  GBP
2022-12-04  West Midlands           Steel    63                6300  GBP
2022-12-04  West Midlands             Rod   244               73200  GBP
2022-12-04  West Midlands             Bit    52               13000  GBP
2022-12-04  West Midlands          Casing    63                3150  GBP
2022-12-04  West Midlands           Shank   147                6615  GBP
2022-12-04  West Midlands        Coupling    56                1344  GBP
2022-12-04  West Midlands  Other products   140                1400  GBP
2022-12-05  West Midlands           Steel    25                2500  GBP
2022-12-05  West Midlands             Rod   366              109800  GBP
2022-12-05  West Midlands             Bit    24                6000  GBP
2022-12-05  West Midlands          Casing    45                2250  GBP
2022-12-05  West Midlands           Shank   136                6120  GBP
2022-12-05  West Midlands        Coupling    45                1080  GBP
2022-12-05  West Midlands  Other products   145                1450  GBP

In [35]:
total_sales.to_csv('total_sales.csv')

# I exported total sales data file as csv file. 
# Ready to send the report to sales manager via email.

## 3. Analyse sales data

By using package called plotly, we can generate sales data charts as below. 

With these charts, I will make a sales report which should be sent to manager via email.

In [36]:
# reading the database
London = total_sales[total_sales["Location"] == "London"]
 
# plotting the histogram chart
fig = px.histogram(London, x='Products', y='''Q'ty''', color=London.index, title="London Total Sales")
 
# showing the plot
fig.show('notebook_connected')

In [37]:
WM = total_sales[total_sales["Location"] == "West Midlands"]
 
fig = px.histogram(WM, x='Products', y='''Q'ty''', color=WM.index, title="West Midlands Total Sales")
 
fig.show('notebook_connected')

In [38]:
data = total_sales
 
fig = px.histogram(data, x='Location', 
                   y='Total sales amount', 
                   color=data.index, 
                   title="Total Sales", 
                   text_auto='.2s')
fig.update_traces(textfont_size=11)

fig.show('notebook_connected')

I have analysed sales data for London, West Midlands offices and total sales. I imported these visualization charts to sales report. I created excel file to send it to sales manager via email. Please find the excel file 'Sales Report (Dec 1-5) in the zip file.

## 4. Send the sales report via email

The sales report and total sales data will be sent to sales manager via email.

In [39]:
import smtplib
from email.message import EmailMessage

smtp_outlook = smtplib.SMTP('smtp-mail.outlook.com', 587)

In [40]:
smtp_outlook.ehlo()
smtp_outlook.starttls()
 
# Log in
smtp_outlook.login('po4857@outlook.com','Qkrdudqls1!')

(235, b'2.7.0 Authentication successful')

In [41]:
msg=EmailMessage()
 
# Input title
msg['Subject']="Sales Report"
 
# Input contents
msg.set_content("Please find the sales report of Dec 1 - Dec 5 as attached")
 
# Sender Information
msg['From']='po4857@outlook.com'
 
# Receiver Information
msg['To']='haileysim1219@gmail.com'

# adding the file to email
file ='Sales Report (Dec 1-5).xlsx'
fp = open(file, 'rb')
file_data = fp.read()
msg.add_attachment(file_data, maintype='text', subtype='plain', filename="Sales Report (Dec 1-5).xlsx")

# adding one more file to email
file ='total_sales.csv'
fp = open(file, 'rb')
file_data = fp.read()
msg.add_attachment(file_data, maintype='text', subtype='plain', filename="total_sales.csv")

smtp_outlook.send_message(msg)

{}

The file named 'Sales Report (Dec 1-5)' and 'total_sales' has been sent to sales manager via email. These are included total sales data and visualization sales charts.